@import "tailwindcss";


body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@theme inline{
  --font-roboto: var(--font-roboto);
  --font-work-sans:var(--font-work-sans);
}